body, html {
    margin: 0;
    padding: 0;
}

.my-modal {
    top: 50%;
    left: 50%;
    outline: none;
    padding: 25px;
    overflow: auto;
    position: fixed;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    background: rgb(236, 233, 233);
}

.modal-overlay {
    width: 80%;
    height: 100%;
    top: 0;
    left: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.78);
    transform: scale(1);
}